/* ==========================================================================
   WEBFLOW DEFAULTS - TABS
   Tab components
   ========================================================================== */

.w-tabs {
  position: relative;
}

.w-tab-menu {
  display: flex;
}

.w-tab-link {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

.w-tab-content {
  position: relative;
}

.w-tab-pane {
  display: none;
}

.w-tab-pane.w--tab-active {
  display: block;
}
